[submodule "test/TestBiquad"]
	path = test/TestBiquad
	url = https://github.com/Mahdi03/GimmelTestBiquad.git
[submodule "test/include/ezWav"]
	path = test/include/ezWav
	url = https://github.com/jaffco/ezWav.git
